<h2>ADD page!!!</h2>
<form>
<p><span class="create-h1">Название события * :</span><br>
    <input id="eventName" type="text" value="{{name}}" name="name" placeholder="Название события" minlength="3" maxlength="20" required></p>
<p><span class="create-h1">Описание события * :</span><br>
    <textarea id="myTextArea" rows="5" cols="20" name="description" placeholder="Описание события" minlength="20" maxlength="100" class="<%=eventClass%>" required>{{description}}</textarea></p>
<p><span class="create-h1">Дата *: </span><input type="text" ng-model="date" my-datepicker></p>
<p><span class="create-h1">Отношение :</span>
  <select name="position" id="eventRatio">
    <option>Нейтральное</option>
    <option>Положительное</option>
    <option>Отрицательное</option>
  </select>
<p><span class="create-h1">Добавить видео :</span>
    <input id="inputVideo" type="text" placeholder="вставьте URL видео" value="{{video}}" ng-model="video" ng-pattern="/youtube/" ng-change="getYoutube()"> 
</p>
<youtube ng-if="newVideo" code='{{newVideo}}'></youtube>
<p><span class="create-h1">Добавить место на карту :</span>
<input id="map-place" type="text" placeholder="Введите адрес события" value="{{map}}">
    <div id="map"></div></p>
    <button type="submit" id="save-event">Отправить</button>
</form>

<button ng-click="createMap()"> Создать карту </button>
        <div id="maping"></div>