<div ng-controller="EventsCtrl">

<h2>Редактирование события № {{result.id}}</h2>
<form>
<p>
    <span class="create-h1">Название события * :</span><br>
    <input id="eventName" type="text" name="name" placeholder="Название события" minlength="3" maxlength="20" required value="{{result.name}}">
</p>
<p>
    <span class="create-h1">Описание события * :</span><br>
    <button ng-click="showRedactor = !showRedactor; $event.preventDefault()" ng-hide="showRedactor"> Показать редактор </button>
    <div ng-show="showRedactor">
       <input type="checkbox" ng-model="underline"> underline
       <input type="checkbox" ng-model="bold"> bold
       <input type="checkbox" ng-model="italic"> italic<br>
       <span class="create-h1">Размер шрифта :</span><select ng-model="mySize" ng-options="size for size in sizes"></select><br>
       <input type="radio" name="color" value="red" ng-model="color">red
       <input type="radio" name="color" value="green" ng-model="color">green
       <input type="radio" name="color" value="blue" ng-model="color">blue<br>
    </div>
    <textarea ng-class="{underline: underline, bold: bold, italic: italic}" ng-style="{'font-size':mySize, color: color}"
    id="myTextArea" rows="5" cols="20" name="description" 
    placeholder="Описание события"
    minlength="20" maxlength="100" required>{{result.description}}</textarea>
</p>
<p><span class="create-h1">Дата *: </span><input type="text" value="{{result.date}}" my-datepicker></p>
<p><span class="create-h1">Отношение :</span>
  <select name="position" id="eventRatio" value="{{result.rate}}">
    <option>Нейтральное</option>
    <option>Положительное</option>
    <option>Отрицательное</option>
  </select>

<p>
  <div ng-if="result.video !== undefined">
    <span class="create-h1">Видео события:</span>
        <input id="inputVideo" type="text" placeholder="вставьте URL видео"
        	   value="{{result.video}}" 
        	   ng-init="getYoutube(result.video)"
        	   ng-change="getYoutube(result.video)"> 
  </div>
  <div ng-if="result.video == undefined">
  <span class="create-h1">Видео события:</span>
      <input id="inputVideo" type="text" placeholder="вставьте URL видео"
           value="{{result.video}}"
           ng-change="getYoutube(result.video)">
           <!-- разобраться с верхним ng-change -->
           <!-- проблема в том что result.video при изменении НЕ СУЩЕСТВУЕТ -->
</div>
</p>

<youtube ng-if="newVideo" code='{{newVideo}}'></youtube>

<div ng-if="result.map == undefined">
  <button ng-click="$event.preventDefault(); createMap(result); show = !show " 
          ng-hide="show"> Отметить место на карте </button><br>
  <div ng-show="show">
      <span class="create-h1">Выберите место на карте :</span>
      <input id="map-place" type="text" ng-show="map" value="{{result.map}}" readonly>
      <div id="maping"></div>
  </div>
</div>

<div ng-if="result.map !== undefined">
  <div ng-init="createMap(result)">
      <span class="create-h1">Место на карте :</span>
      <input id="map-place" type="text" value="{{result.map}}" readonly>
      <div id="maping"></div>
  </div>
</div>
</form>

</div>

